<html>

  <head>
    <meta charset='utf-8' />
    <link href='css/global.css' rel='stylesheet' />
    <link href='css/navbar.css' rel='stylesheet' />
    <link href='css/carousel.css' rel='stylesheet' />
    <link href='css/section.css' rel='stylesheet' />
    <link href='css/footer.css' rel='stylesheet' />
    <link rel="icon" href="favicon/icons8-league-of-legends-doodle-16.png" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
    <title>인베24 | 지금 협곡 시간은?</title>
  </head>

  <body>

    <header>

      <div id="nav_bar">
        <div id="nav_bar_logo_container"> 
          <img id="nav_bar_logo_img" src="https://img.icons8.com/doodle/96/league-of-legends.png" alt="league-of-legends" />
          <span id="nav_bar_logo_title">INVE24</span>
        </div>
        <span id="nav_bar_menu" class="material-symbols-outlined" onclick="handleNavBar()">menu</span>
      </div>

    </header>

    <main>

      <div>
        <div id="rso_login">
          <div id="rso_login_container" class="box_common">
            <span>라이엇 계정으로 로그인 후 이용해 주세요.</span>
            <button id="rso_login_button" onclick="handleRiotOAuth2Redirect()">
              <img id="rso_login_icon" src="https://img.icons8.com/color/96/riot-games.png" alt="riot-games" />
              <span>라이엇 계정으로 로그인</span>
            </button>
          </div>
        </div>
      </div>

      <div>
        <div id="usage_carousel">
          <div id="usage_carousel_container">
            <div class="usage_carousel_slide">플레이 중인 리그오브레전드 계정으로 로그인해 주세요.</div>
            <div class="usage_carousel_slide">챔피언 픽 완료 후, 밴픽창에서 조회 버튼을 눌러주세요.</div>
            <div class="usage_carousel_slide">챔피언 픽 이전에 조회 시, 정상적인 이용이 불가능합니다.</div>
            <div class="usage_carousel_slide">이미 시작된 게임은 조회가 불가능합니다.</div>
            <div class="usage_carousel_slide">밴픽 타이머가 4분이 넘으면, 닷지 된 게임입니다.</div>
            <div class="usage_carousel_slide">랭크 게임의 밴픽 소요 시간은 4분 40초입니다.</div>
          </div>
        </div>

        <div class="usage_carousel_dots"></div>
      </div>

      <div>
        <div id="patch_note_info" class="box_common" onclick="handleLeagueOfLegendsPatchNotes()">
          <span>리그오브레전드 v14.7 패치노트</span>
          <span id="patch_note_info_arrow_icon" class="material-symbols-outlined">chevron_right</span>
        </div>
      </div>

      <div>
        <div id="dev_links">
          <div id="update_info" onclick="handleInve24UpdateInfo()">
            <div class="update_info_button box_common">
              <span id="update_info_version">v2.1.0</span>
              <div id="update_info_title">
                <span>업데이트 내용</span>
                <span id="bug_report_discord_arrow_icon" class="material-symbols-outlined">chevron_right</span>
              </div>
            </div>
          </div>

          <div id="bug_report">
            <div id="bug_report_discord_button" class="bug_report_button box_common" onclick="handleBugReportToDiscord()">
              <span id="bug_report_discord_icon" class="material-symbols-outlined">report</span>
              <span>&nbsp;버그신고 Discord</span>
              <span id="bug_report_discord_arrow_icon" class="material-symbols-outlined">chevron_right</span>
            </div>

            <div id="bug_report_github_button" class="bug_report_button box_common" onclick="handleBugReportToGitHub()">
              <span id="bug_report_github_icon" class="material-symbols-outlined">rocket_launch</span>
              <span>&nbsp;버그신고 GitHub</span>
              <span id="bug_report_github_arrow_icon" class="material-symbols-outlined">chevron_right</span>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer>

      <ul id="policy_links">
        <li><a href={{data.HostPrivacyUrl}}>개인정보처리방침</a></li>
        <li><a href={{data.HostAgreementUrl}}>이용약관</a></li>
      </ul>

      <p id="legal">© 2024 INVE24 Okonomiyakki</p>

    </footer>

    <div id="host" data-host-base-url={{data.HostBaseUrl}}></div>
    <div id="auth" data-riot-base-url-auth={{data.RiotBaseUrlAuth}}></div>
    <div id="discord" data-discord-base-url={{data.DiscordInvitationCode}}></div>

    <script src='js/main.js'></script>
    <script src='js/common.js'></script>

  </body>

</html>